.login {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 12px;
  width: fit-content;
  height: 100%;
  backdrop-filter: blur(5px);
}

.login-field {
  width: 500px;
  margin-right: -10px;
}

.return {
  margin-left: auto !important;
}

.header {
  display: flex;
  justify-content: center;

}

.google-button {
  margin-top: 10px;
  border-radius: 12px;
  border: 2px solid #989898;
  padding: 5px;
}

.submit {
  margin-right: 10px !important;
}

.login-google {
  margin-right: 5px;
}


.login-stu {
  margin-left: 5px;
}

.login-alternative {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.visible {
  display: flex !important;
}

.stu-icon {
  margin-left: auto;
  width: 150px;
  background-color: #8D9EEC;
  border-radius: 12px;
}

@media only screen and (max-width: 600px) {
  .login-field {
    width: 80vw;
  }
}
